.navbar {
    padding-bottom: 0;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.title-quadro {
    margin-bottom: 10px;
}

.opcoes li {
    text-align: center;
    padding: 2px 10px 10px;
    margin: 0 2px 0;
}

.left-side ul {
    border-bottom: none;
}

.opcoes /*li:hover*/ .temp {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 0.5px solid rgb(194, 194, 194);
    border-width: thin;
}

.opcoes /*a:hover*/ .temp {
    border-bottom: 3px solid rgb(6, 209, 6);
    padding-bottom: 6px;
}

.opcoes a {
    color: #464545;
}

.opcoes a:link {
    text-decoration:none;
}

.barra-top {
    margin-bottom: 0;
}