h6 {
    font-size: 13px;
}

.navbar {
    padding-bottom: 0;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.title-quadro {
    margin-bottom: 10px;
}

.opcoes li {
    text-align: center;
    padding: 2px 10px 10px;
    margin: 0 2px 0;
}

.left-side ul {
    border-bottom: none;
}

.opcoes li:hover {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgb(194, 194, 194);
    border: 0.5px solid rgb(194, 194, 194);
    border-width: thin;
    border-bottom: #ffffff solid 2px;
}

.opcoes a:hover {
    border-bottom: 3px solid rgb(6, 209, 6);
    padding-bottom: 10px;
    padding-bottom: 6px;
}
    

.opcoes a {
    color: #464545;
}

.opcoes a:link {
    text-decoration:none;
}

.barra-top {
    margin-bottom: 0;
}


/************ quadros.blade.php *************/

.quadros .card {
    width: 340px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    vertical-align: middle;
}

.top-card {
    padding: 0 8px 0 16px;
    height: 56px;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px 4px 0 0;
}

.top-card .header {
    padding: 0 10px;
}

.title h5 {
    font-size: 16px;
    color: #7e7e7e;
    margin: 16px 0 0 5px;
}

.task-content {
    box-shadow: 1px 0px 2px 1px rgba(118,118,118,0.1);
    background-color: #f8f8f8;
    border: 1px solid #ededed;
    border-radius: 0 0 4px 4px;
    border-top: none;
    padding: 8px 10px 64px 10px;
    max-height: 100%;
    height: 300px;
}

.title img{
    width: 28px;
    height: 28px;
    margin-top: 12px;
}

.options img {
    margin: 17px 0 0 15px
}

#add-img {
    width: 18px;
}

#dots-img {
    margin-top: 19px;
    width: 14px;
}

.task-card-row {
    min-height: 60px;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 12px 8px 6px 8px;
    margin-bottom: 10px;
}

.task-content ul {
    padding: 0;
}

li {
    list-style: none; 
}

#to-do .task-card-row {
    border-color: #1bb1cc;
}

#doing .task-card-row {
    border-color: #e78a21;
}

#done .task-card-row {
    border-color: #41c57f;
}

/*********** lista.blade.php ********/

#row-task img{
    width: 22px;
}