h6 {
    font-size: 13px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #edf1f2;
}

/******* HEADER ********/

.navbar {
    padding-bottom: 0;
    border-bottom: 1px solid rgb(219, 219, 219);
    background-color: #fff;
}

.teste-logo {
    width: 40px;
    margin: 0;
}

.nav-item img{
    width: 19px;
}

#perfil-row {
    height: 20px;
    width: 1px;
    margin: 12px 5px 0 0; 
}

.opcoes li {
    text-align: center;
    margin: 4px 15px 14px 0;
    padding-left: 4px;
}

.left-side ul {
    border-bottom: none;
}

.opcoes a {
    color: #828282;
}

a:link {
    text-decoration:none;
}

a {
    color: inherit;
}

.opcoes a:hover {
    color: #2c2c2c;
}

.opcoes .active a {
    color: #FF4858;
    border-bottom: #FF4858 2px solid;
    padding-bottom: 16px;
}

/**************** BODY ***************/

.py-4 {
    min-height: 100%;
}


/************ quadros.blade.php *************/

.card-space {
    margin-right: 20px;
}

.quadros .card {
    max-height: 100%;
    width: 374px;
    padding: 15px;
    margin-bottom: 15px;
}

.quadros .add-card {
    width: 374px;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}

.quadros ul {
    padding: 0;
}

#add-img {
    width: 20px;
    margin-top: 10px;
}

.prioridade {
    background-color: #FF4858;
    width: 45px;
    height: 6px;
    border-radius: 15px;
}

.bottom-informations {
    margin-top: 8px;
}

.foto {
    background-color: #FF4858;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 4px;
    margin-right: 10px;
}

.data {
    margin-top: 8px;
}

.title-card h5{
    font-size: 16px;
    font-weight: bold;
    color: #7e7e7e;
    margin: 15px 0 0 5px;
}

.task-content {
    box-shadow: 1px 0px 2px 1px rgba(118,118,118,0.1);
    background-color: #f8f8f8;
    border: 1px solid #ededed;
    border-radius: 0 0 4px 4px;
    border-top: none;
    padding: 8px 10px 8px 10px;
    max-height: 100%;
    min-height: 180px;
}

.title img{
    width: 28px;
    height: 28px;
    margin-top: 12px;
}

.options img {
    margin: 17px 0 0 15px
}


#dots-img {
    margin-top: 19px;
    width: 14px;
}

.task-card-row {
    min-height: 60px;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 12px 8px 6px 8px;
    margin-bottom: 10px;
}

.task-card-row h6 {
    font-weight: bold;
}

.task-content ul {
    padding: 0;
}

li {
    list-style: none; 
}

/* ALTERAÇÃO NAS CORES DOS QUADROS DE TAREFA

#to-do .task-card-row {
    border-color: #1bb1cc;
}

#doing .task-card-row {
    border-color: #e78a21;
}

#done .task-card-row {
    border-color: #41c57f;
}

*/

#priority {
    padding: 0;
}

.bottom-options {
    align-items: flex-end;
}

#categoria {
    background-color: #60105f;
    border-radius: 4px;
    color: #ffffff;
    margin-left: 8px;
    padding: 3px 5px 0 5px ;
}

#task-id {
    color: #a2a2a2;
    margin-left: 6px;
}



/*********** lista.blade.php ********/

#row-task img{
    width: 22px;
}

#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #a2a2a2;
    left: -200px;
}

#sidebar .active {
    left: 0px;
}

#sidebar .btn {
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: black;
    margin: 5px 0;
}