h6 {
    font-size: 13px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}

#app {
    height: 100%;
}

/******* HEADER ********/

.navbar {
    padding-bottom: 0;
    border-bottom: 1px solid rgb(219, 219, 219);
    background-color: #fff;
}

.teste-logo {
    width: 40px;
    margin: 10px;
    padding: 10px;
}

.titulo-projeto {
    margin-left: 40px;
}

.nav-item img{
    width: 19px;
}

#perfil-row {
    height: 20px;
    width: 1px;
    margin: 12px 5px 0 0; 
}

.opcoes li {
    text-align: center;
    margin: 4px 15px 14px 0;
    padding-left: 4px;
}

.left-side ul {
    border-bottom: none;
}

.opcoes a {
    color: #828282;
}

a:link {
    text-decoration:none;
}

a {
    color: inherit;
}

.opcoes a:hover {
    color: #2c2c2c;
}

.opcoes .active a {
    color: #FF4858;
    border-bottom: #FF4858 2px solid;
    padding-bottom: 16px;
    font-weight: bolder;
}

/**************** BODY ***************/

.main {
    padding: 0;
    background-color: #edf1f2;
}

/*************** HOME ****************/

.box-geral, .content-home {
    height: 100%;
    margin: 0;
    padding: 0;
}



/************ quadros.blade.php *************/

.card-space {
    margin-right: 40px;
}

.title-space {
    margin: 10px 0;
    padding-bottom: 0;
}


.quadros {
    padding: 25px;
    margin-left: 5px;
    background-color: #edf1f2;
    height: 100vh;
}

.card-body {
    padding: 0;
}

.quadros .card {
    max-height: 100%;
    width: 374px;
    padding: 15px;
    margin-bottom: 10px;
}

.linha-separa-quadro {
    width: 374px;
    color: #828282;
    margin-top: 0;
}

.btn-add-quadro {
    width: 374px;
    height: 40px;
    background-color: #3FB8AF;
    color:#fff;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 20px;
}

.btn-add-quadro:hover{
    background-color: #3B8686;
    color: #ededed;
}

.quadros ul {
    padding: 0;
}

.span-prioridade-quadro{
    margin-left: 5px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding-top: 2px;
    width: 60px;
    height: 20px;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

#span-quadro-baixa{
    background-color: #26ADE4;
}

#span-quadro-baixa-click{
    background-color: #26ADE4;
    height: 20px;
    border-radius: 15px;
}

#span-quadro-media{
    background-color: #00CCC0;
}

#span-quadro-alta{
    background-color: #F7B137;
}

#span-quadro-urgente{
    background-color: #ed354d;
}

.bottom-informations {
    margin-top: 8px;
}

.foto {
    background-color: #FF4858;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 4px;
    margin-right: 10px;
}

.data {
    margin-top: 8px;
}

.title-card h5{
    font-size: 16px;
    font-weight: bold;
    color: #7e7e7e;
    margin: 15px 0 0 5px;
}

.task-content {
    box-shadow: 1px 0px 2px 1px rgba(118,118,118,0.1);
    background-color: #f8f8f8;
    border: 1px solid #ededed;
    border-radius: 0 0 4px 4px;
    border-top: none;
    padding: 8px 10px 8px 10px;
    max-height: 100%;
    min-height: 180px;
}

.title img{
    width: 28px;
    height: 28px;
    margin-top: 12px;
}

.options img {
    margin: 17px 0 0 15px
}

#dots-img {
    margin-top: 19px;
    width: 14px;
}

.task-card-row {
    min-height: 60px;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 12px 8px 6px 8px;
    margin-bottom: 10px;
}

.task-card-row h6 {
    font-weight: bold;
}

.task-content ul {
    padding: 0;
}

li {
    list-style: none; 
}

/* ALTERAÇÃO NAS CORES DOS QUADROS DE TAREFA

#to-do .task-card-row {
    border-color: #1bb1cc;
}

#doing .task-card-row {
    border-color: #e78a21;
}

#done .task-card-row {
    border-color: #41c57f;
}

*/

#priority {
    padding: 0;
}

.bottom-options {
    align-items: flex-end;
}


#task-id {
    color: #a2a2a2;
    margin-left: 6px;
}


/*********** lista.blade.php ********/

#titulo-lista {
    margin: 0 0 10px 12px;
    padding-right: 50px;
}

.lista-tarefas {
    background-color: #fff;
    padding: 25px;
}

#titulo-page {
    margin-top: 5px;
}

#separa-btn {
    width: 2px;
    height: 35px;
    background-color: rgb(130, 130, 130, 0.6);
    margin: 0 10px 0 15px;
}

.btn-quadro{
    margin-left: 5px;
    background-color: #FF4858;
    color: #fff;
    width: 150px;
}

#table-tarefas {
    margin: 20px 12px;
    width: 96%;
}

#table-tarefas h4 {
    font-size: 18px;
    font-weight: bold;
}

#tit-linha {
    border: 1px solid rgb(163, 163, 163, 0.4);
    border-left: none;
    border-right: none;
    padding: 7px 0 5px 0;
}

#tit-responsavel, #tit-prioridade, #tit-categoria, #user, #prioridade, #categoria {
    text-align: center;
    width: 10%;
}

#tit-tarefa, #tarefa {
    width: 49%;
}

#tit-data, #data {
    width: 20%;
    text-align: center;
}

#row-task, #subtarefas {
    border-bottom: 1px solid rgb(163, 163, 163, 0.4);
    cursor: pointer;
    height: 40px;
    padding: 7px 0;
}

#row-task img, #subtarefas img{
    width: 25px;
    height: 25px;
    margin: 0 15px 4px 0;
}

#row-task:hover, #subtarefas:hover {
    background-color: rgb(163, 163, 163, 0.2);;
}

#subtarefas #tarefa {
    width: 46%;
    margin-left: 44px;
}

.span-prioridade {
    margin: auto;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    width: 90px;
    text-align: center;
    box-shadow: 1px 0px 2px 1px rgba(118,118,118,0.1);
}

#span-baixa{
    background-color: #26ADE4;
}

#span-media{
    background-color: #00CCC0;
}

#span-alta{
    background-color: #F7B137;
}

#span-urgente{
    background-color: #ed354d;
    
}

.span-categoria {
    margin: auto;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
    font-size: 14px;
}

#cat1 {
    background-color: #13C8B5;
}

#cat2 {
    background-color: #7375A5;
}

#cat3 {
    background-color: #2B364A;
}

